.info-table {
    width: 90%;
    margin-top: 1em;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.info-row {
    width: 100%;
    margin-top: 0.1em;
    display: flex;
    flex-direction: row;
    justify-content: left;
    background-color: #ffffff;
    border: medium solid #9e9e9e;
    border-radius: 0.2em;
    font-size: 2rem;
    font-weight: 600;
}

.text-info-table {
    width: 90%;
    margin-left: 1em;
    margin-block-start: 0;
    margin-block-end: 0;
}

.value-info-table {
    width: 10%;
    margin-block-start: 0;
    margin-block-end: 0;
}
