.cell {
    position: relative;
    width: 13%;
    height: 100%;
    display: flex;
    border-width: thick;
    border-collapse: collapse;
}

.lines-cell {
    position: relative;
    width: 100%;
    height: 60%;
    display: inline-flex;
}

.green_lines {
    position: relative;
    width: 45%;
    height: 100%;
    display: block;
}

.green_line {
    position: relative;
    left: 0;
    width: 100%;
    height: 1em;
}

.red_lines {
    position: relative;
    width: 45%;
    height: 100%;
    display: block;
}

.red_line {
    position: relative;
    right: 0;
    width: 100%;
    height: 1em;
}