.common_middle {
    position: relative;
    width: 100%;
    height: 60%;
}

.upper_buttons {
    position: relative;
    display: inline-flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 60%;

}

.btn_center {
    font-size: 2em;
    width: 40%;
    height: 3em;
    letter-spacing: 0.1em;
    font-weight: 700;
    background-color: #ffffff;
    border-color: #9e9e9e;
    border-radius: 0.4em;
    border-width: 0.1em;
    border-style: solid;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    margin-left: 2em;
    margin-right: 2em;
    text-shadow: 0.1em 0.2em 5px rgba(122, 122, 122, 0.5);
    box-shadow: 0.2em 0.2em 5px rgba(122, 122, 122, 0.5);
}

.arrow {
    position: relative;
    width: 7em;
    height: 7em;
    margin-top: 4em;
    filter: drop-shadow(0.1em 0.2em 5px rgba(122,122,122,0.5));
}

.left {
    transform: scale(-1, 1)
}
